

<%= form_for  @user, :html => { :multipart => true }, :remote => true do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> Prohibido guardar este usuario:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field form-group">
    <%= f.label :nombre, "Nombre" , class: "col-sm-2 control-label"%>
    
      <%= f.text_field :nombre, class: "form-control ", placeholder: "Ingrese nombre del usuario" %>
    
  </div>
 
  <div class="field form-group">
    <%= f.label :apellido, "Apellido" , class: "col-sm-2 control-label"%>
    
      <%= f.text_field :apellido, class: "form-control ", placeholder: "Ingrese apellido del usuario" %>
    
  </div>
  <div class="field form-group has-feedback">
   <%= f.label :rut, "Rut" , class: "col-sm-2 control-label"%>
    <%= f.text_field :rut, class: "form-control _rut" , placeholder: "Ingrese rut del usuario" %>
   
  </div>

  <div class="field form-group">
    <%= f.label :email, "Email" , class: "col-sm-2 control-label"%>
    
      <%= f.text_field :email, class: "form-control ", placeholder: "Ingrese email del usuario" %>
    
  </div>
  <div class="field form-group">
    <%= f.label :fec_nac, "Fecha de nacimiento" , class: "col-sm-5 control-label"%>
    
      <%= f.date_field :fec_nac, class: "form-control ", placeholder: "Ingrese Fecha de nacimiento" %>
    
  </div>
  <div class="field form-group">
    <%= f.label :password, "Password" , class: "col-sm-2 control-label"%>
    
      <%= f.text_field :password, class: "form-control ", placeholder: "Ingrese password del usuario" %>
    
  </div>

      <div class="form-group">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Referencia RRSS</h3>
            </div><!-- /.box-header -->
            <div class="box-body" ">
             <%= f.fields_for :socials do |social_form| %>
               <%= render 'social', :f => social_form %>
            <% end %>
            <p><%= link_to_add_association "Añadir referencia ",f, :socials, :class=> "btn btn-primary pull-right", :partial => "social" %></p>
            
            </div>
        </div>
    </div>

          <div class="form-group">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Imágenes</h3>
            </div><!-- /.box-header -->
            <div class="box-body" ">
             <%= f.fields_for :imagens do |imagen_form| %>
               <%= render 'imagen', :f => imagen_form %>
            <% end %>
            <p><%= link_to_add_association "Añadir imagen",f, :imagens, :class=> "btn btn-primary pull-right", :partial => "imagen" %></p>
            
            </div>
        </div>
    </div>

     <div class="actions box-footer text-right" >
    <%= f.submit  class: "btn btn-success"%>
  </div>
 <% end %>

