<div class="nested-fields ">
 <div class="field form-group">
    <%= f.label :imagen, "Imagen", class: "col-sm-2 control-label" %>
    <%= f.file_field :imagen , class: "form-control ", placeholder: "Seleccione un Imagen" %>
    <div class="input-group-btn">
       <%= link_to_remove_association "Borrar imagen", f , :class => "btn btn-danger"  %>
    </div><!-- /btn-group -->
</div>
</div>