<div class="nested-fields ">
<div class="input-group margin">
 	<%= f.text_field :nombre , :class => "form-control"  %>
 	<div class="input-group-btn">
       <%= link_to_remove_association "Borrar referencia", f , :class => "btn btn-danger"  %>
    </div><!-- /btn-group -->
</div>
</div>