<p id="notice"><%= notice %></p>

<h1>Lista de Usuarios</h1>

<%= link_to 'Crear Usuario', new_user_path, class: "btn btn-success" %>
<%= link_to 'Volver al Inicio', root_path, class: "btn btn-warning" %>




<div class="box">
   <div class="box-header">
      <h3 class="box-title">Usuarios</h3>
   </div>
    <% if notice  %>
    <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> Aviso!</h4>
                <%= notice %>
    </div>
    <% elsif  alert %>
      
    <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                
                <% alert.each do |alerta|%>
                  <li><%= alerta %></li>
                  <% end %>
    </div>
    <% end %>
   

   <!-- /.box-header -->
   <div class="box-body table-responsive no-padding">
      

      <div id="example1_wrapper" class="dataTables_wrapper form-inline" role="grid">
     
         <table id="example1" class="table table-hover" aria-describedby="example1_info">
            <thead>
               <tr role="row">
                  <th >Nombre</th>
                  <th >Apellido</th>
                  <th >Rut</th>
                  <th >Email</th>
                  <th >Imagen</th>
                  <th >Acciones</th>
               </tr>
            </thead>
            <tfoot>
               <tr>
                  <th >Nombre</th>
                  <th >Apellido</th>
                  <th >Rut</th>
                  <th >Email</th>
                  <th >Imagen</th>
                  <th >Acciones</th>
               </tr>
            </tfoot>

            <tbody role="alert" aria-live="polite" aria-relevant="all">
            <% @users.each do |user| %>
               <tr>
                  <td><%= user.nombre%></td>
                  <td><%= user.apellido%></td>
                  <td><%= user.rut%></td>
                  <td><%= user.email%></td>
                  <% if user.imagens.count >0 %>
                  <td><%= image_tag(user.imagens.first.imagen.url(:thumb),style: "display:block;margin-left:auto;margin-right:auto;", align: "center") %></td>
                  <% else %>
                  <td></td>
                  <%end %>
                  <td>
                    <%= link_to "Ver", user, class: "btn btn-success"  %>
                    <%= link_to "Editar", edit_user_path(user), class: "btn btn-primary"  %>
                    <%= link_to "Eliminar", user,class: "btn btn-danger", method: :delete, data: { confirm: '¿Está seguro de eliminar?' }  %>
                    
                    
                  </td>


                  
              </tr>
          <% end %>

              
            </tbody>
         </table>

      </div>
   </div>
   <!-- /.box-body -->
</div>


