<h1>Nuevo Usuario</h1>
<div class="col-md-3 "></div>
<div class="col-md-6 ">
	<div id="sticker" class="box box-info">  
		<div class="box-body pad">
			   <div class="col-md-12">
					<div class="row">
<%= render 'form' %>
</div>
					<div class="row">

						<%= link_to 'Atrás', users_path, class: "btn btn-warning" %>
					</div>
				</div>
		
		</div>
	</div>
</div>


