<p id="notice"><%= notice %></p>
<div class="col-md-2 "></div>
<div class="col-md-8 ">
	<div  class="box box-info"> 
            <div class="box-header">
                <h3 class="box-title">Detalles del Usuario</h3>
            </div><!-- /.box-header --> 
		<div class="box-body pad">
			   <div class="col-md-12">
					<div class="row">
						
						<div class="row invoice-info">
            <div class="col-xs-3 invoice-col">
             	Nombre:	 <br>   
				Apellido:	<br>
        		Rut: <br>
				Email:	<br>
				Password:	<br>
				Fecha de Nacimiento:	<br>
		
            </div><!-- /.col -->
            <div class="col-xs-6 invoice-col">
              <%= @user.nombre%><br>  
              <%= @user.apellido%><br>  
              <%= @user.rut%><br>  
              <%= @user.email%><br>  
              <%= @user.password%><br>  
              <%= @user.fec_nac	%><br>  
            </div><!-- /.col -->
          </div><!-- /.row -->


					</div>
				</div>
		
		</div>
	</div>

			<div  class="box box-primary"> 
	            <div class="box-header">
	                <h4 class="box-title">Referencias RRSS</h4>
	            </div><!-- /.box-header --> 
				<div class="box-body pad">
					   <% @user.socials.each do |social| %>
			            <div class="col-xs-6 invoice-col">
			              <p><%= social.nombre%></p><br>  
			            </div><!-- /.col -->
			            <% end %>
    
				</div>
			</div>

			<div  class="box box-success"> 
	            <div class="box-header">
	                <h4 class="box-title">Imágenes</h4>
	            </div><!-- /.box-header --> 
				<div class="box-body pad">
					   <% @user.imagens.each do |imagen| %>
			            <div class="col-xs-6 invoice-col">
			             <%= image_tag(imagen.imagen.url(:medium),style: "display:block;margin-left:auto;margin-right:auto;", align: "center") %><br> 
			            </div><!-- /.col -->
			            <% end %>
    
				</div>
			</div>
			<div  class="box box-warning"> 
	           
				<div class="box-body pad pull-right">
					 <%= link_to 'Editar', edit_user_path(@user),class: "btn btn-primary " %>
					<%= link_to 'Atrás', users_path ,class: "btn btn-warning "%>
    
				</div>
			</div>
		
</div>
	


	



