<div class="row">
<div class="col-md-3 "></div>
<div class="col-md-6 ">
  <div id="sticker" class="box box-info">  
    <div class="box-body pad">
         <div class="col-md-12">
          <div class="row">
          <a href=<%= users_path %>>
          <div class="small-box bg-aqua-active">

            <div class="inner">
              <h3>Ingresar al sistema</h3>
              <p>click aqui!</p>
            </div>
            <div class="icon">
              <i class="fa  fa-file-text"></i>
            </div>
           </div><!-- ./col -->
          </a>
          </div>
          
        </div>
    
    </div>
  </div>
</div>
</div>
<div class="row">
<div class="col-md-3 "></div>
<div class="col-md-6 ">
  <div id="sticker" class="box box-info"> 
       <div class="box-header">
                  <h3 class="box-title">AutoComplete</h3>
              </div><!-- /.box-header -->  
         <form>
         <div class="box-body">


          <div class="row">
              <label class= "col-xs-1 ">Rut</label>
              <div class="col-xs-3">
                <input id="rut"  class="form-control pure-form"  type="text">
              </div>
                        
              <label class= "col-xs-1 ">Apellido</label>
              <div class="col-xs-3">
                 <input id="apellido" class="form-control"  type="text">
              </div>
              <label class= "col-xs-1 ">Email</label>
              <div class="col-xs-3">
                 <input id="email" class="form-control"  type="text">
              </div>
      

          
          </div>
          
        </div>
   </form>
  </div>
</div>
</div>
<script type="text/javascript">
  $('#rut').autoComplete({
     minChars: 1,
     source: function(term, response){
        $.get("/users.json", { query: term }, function(data){ 
          var matches = [];
          var rut =[];
          var json;
          
          for (i=0; i<data.length; i++)
          {
            
                matches.push(data[i]);   
            
          }

          
          for (i=0; i<matches.length; i++)
          {
               
                rut.push(matches[i].rut);                                       
          }  
         
          response(matches);
        });
    },
    renderItem: function (item, search){
                    search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
                    var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
                    
                    return '<div class="autocomplete-suggestion" data-langname="'+item.apellido+'" data-lang="'+item.email+'" data-val="'+item.rut+'">'+item.rut.replace(re, "<b>$1</b>")+'</div>';
                },
    onSelect: function(e, term, item){
        //console.log('Item "'+item.data('langname')+' ('+item.data('lang')+')" selected by '+(e.type == 'keydown' ? 'pressing enter or tab' : 'mouse click')+'.');
        document.getElementById('apellido').value=item.data('langname');
        document.getElementById('email').value=item.data('lang');
        document.getElementById('rut').value=item.data('val');

        //$('#advanced-demo').val(item.data('langname')+' ('+item.data('lang')+')');
    }
    
});
  $('#apellido').autoComplete({
     minChars: 1,
     source: function(term, response){
        $.get("/users.json", { apellido: term }, function(data){ 
          var matches = [];
          var rut =[];
          var json;
          
          for (i=0; i<data.length; i++)
          {
            
                matches.push(data[i]);   
            
          }

          
          for (i=0; i<matches.length; i++)
          {
               
                rut.push(matches[i].apellido);                                       
          }  
         
          response(matches);
        });
    },
    renderItem: function (item, search){
                    search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
                    var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
                    
                    return '<div class="autocomplete-suggestion" data-langname="'+item.apellido+'" data-lang="'+item.email+'" data-val="'+item.rut+'">'+item.apellido.replace(re, "<b>$1</b>")+'</div>';
                },
    onSelect: function(e, term, item){
        //console.log('Item "'+item.data('langname')+' ('+item.data('lang')+')" selected by '+(e.type == 'keydown' ? 'pressing enter or tab' : 'mouse click')+'.');
        document.getElementById('apellido').value=item.data('langname');
        document.getElementById('email').value=item.data('lang');
        document.getElementById('rut').value=item.data('val');

        //$('#advanced-demo').val(item.data('langname')+' ('+item.data('lang')+')');
    }
    
});
</script>
